<section class="template-area">
    <p class="template-title">Feedback</p>
    <hr>
    <br>
    <div class="feedback-area">
        <p align="center">‘메일달인’을 사용해보니 어떠신가요? :D<br>‘메일달인’은 여러분의 피드백을 통해 더욱 성장할 것입니다.</p>
        </div>

        <div class="tutorial-btm-vac"></div>
    </div>
    <div class="wrap">
    <form class="gform" method="POST" data-email="immailmaster@gmail.com" action="https://script.google.com/macros/s/AKfycbyNVIPASBYPCb4HZGmUF3mpxLrSApMT11TEuoW4YPWrgda0zZaO4WCulcsfG63jA7CIIw/exec">
        <!-- <div class="review_contents">
            <div class="warning_msg">5자 이상으로 작성해 주세요.</div>
            <textarea rows="10" class="review_textarea"></textarea>
        </div>-->
        <!-- <div class="cmd">
            <input type="button" name="save" id="save" value="등록">
        </div> -->
        
        <div class="form-elements">
            <textarea type = 'text' name='feedback' class="feedback-content" placeholder="We’d love to hear from you. &#13;&#10;작성해주신 피드백은 work&life 팀메일로 수집됩니다."></textarea>

            <div class='review-result'><button class='button-success pure-button button-xlarge'>보내기</button></div>
        </div>
    </form>
    <script data-cfasync="false" type="text/javascript" src="form-submission-handler.js"></script>
    </div>
    
</section>