{% load static %}
<!-- <link rel="stylesheet" href={% static "style.css" %}> -->
<section class="template-area">
      
      
    <hr>
    <br>
    <div>
        <form class="template-form">

        <div><label class='form-title' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;회사명</label><input type = 'text' placeholder = "수박기획" id='form-00' class="content" name='form' onkeyup='printContent(100)'></div>
        
        <div><label class='form-title' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;제목</label><input type = 'text' placeholder = "스판부직포 주문제작 견적문의" id='form-0' class="content" name='form' onkeyup='printContent(0)'></div>
    
        <div><label class='form-greeting' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;인사말</label><input type = 'text' placeholder = "안녕하세요, 수박기획 디자인팀 박윤아 대리입니다." id='form-1' class="content" name='form' onkeyup='printContent(1)'></div>
        
        <div><label class='form-purpose' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;목적</label><input type = 'text' placeholder = "아래 주문 상세 내용과 같이 스판부직포 견적 문의드립니다." id='form-2' class="content" name='form' onkeyup='printContent(2)'></div>
        
        <div><label class='form-instruction' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;주문 상세 내용</label><textarea type = 'textarea' placeholder="- 주문 목적(생략가능) &#13;&#10;- 주문 수량 &#13;&#10;- 디자인(크기, 색상, 무늬 등) &#13;&#10;- 추가 요청사항(별색 인쇄, 재단, 제본, 후가공 등)" id='form-3' class="content" name='form' onkeyup='printContent(3)'></textarea></div>
        
        <div><label class='form-result' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;문의사항</label><textarea type = 'text' placeholder="예시 1) 위 내용으로 주문 시 출고 가능 일정 안내 부탁드립니다. &#13;&#10;예시 2) 샘플 제작이 가능한지 궁금합니다. &#13;&#10;예시 3) 세금계산서 선발행이 가능한지 궁금합니다." id='form-4' class="content" name='form' onkeyup='printContent(4)'></textarea></div>
        
        <div><label class='form-significant' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;요청사항</label><textarea type = 'text' placeholder = "예시 1) 가능하면 유선 상으로 답변 부탁드립니다. &#13;&#10;예시 2) 첨부파일 확인 요청드립니다." id='form-5' class="content" name='form' onkeyup='printContent(5)'></textarea></div>
        
        <div><label class='form-ending' name='label'><svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6">
            <circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;맺음말</label><input type = 'text' placeholder = "검토 후 견적서 회신 바랍니다. 감사합니다." id='form-6' class="content" name='form' onkeyup='printContent(6)'></div>
        
        <!-- <div><label class='memo' name='label'><svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6">
            <circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/>
          </svg>&nbsp;메모</label><textarea type = 'textarea' placeholder = "ex) 유료 음원 사용시 라이선스 체크 부탁드립니다." id='memo' name='form'></textarea></div> -->
        <br>
        <hr>
        <br>
        <div class="template-auto">
            
            <p>&nbsp;[<span class="teamnm">회사명</span>]&nbsp;&nbsp;<span class="preview">스판부직포 주문제작 견적문의</span></p>
            <hr>
            <div class="template-preview">
                <p class="vac"></p>
                <div>
                <!-- <p class="preview">&nbsp;</p> -->
                <p class="preview" style="margin-top: 20px;">안녕하세요, 수박기획 디자인팀 박윤아 대리입니다.</p><br>
                <p class="preview">아래 주문 상세 내용과 같이 스판부직포 견적 문의드립니다.</p><br>
                <p class="preview">- 제작 목적 : 금속 악세사리 포장용
- 주문 상품 : 스판부직포 B타입<br>- 주문 수량 : 5000EA
- 크기 : 10*15cm
- 후가공 : 1*4cm 크기의 2도 로고 인쇄</p><br>
                <p class="preview">또한 제작 관련 몇가지 문의 사항 답변부탁드립니다.
- 주문 접수 후 제작 일정, 예상 출고일
- 샘플 제작 가능여부</p><br>
                <p class="preview">검토 후 견적서 회신 바랍니다.</p><br>
                <p class="preview" style="margin-bottom: 20px;">감사합니다.</p>
                </div>
                
            </div>
        </div>
        <br><br>
        <div><p>내용 작성이 완료되었나요? 상단의 미리보기를 확인해보세요😉<br>작성완료 버튼을 클릭하시면 내용이 <b><u>자동 복사</u></b> 됩니다.</p></div>
        <br>
        <div class='output-wrap'><input class='finish' type="button" value="작성 완료" onclick="getValueInput()"/></div>
    </form>
    <span id="textDiv"></span>
</div>
<br>
<br>
<br>
</section>