{% load static %}
<!-- <link rel="stylesheet" href={% static "style.css" %}> -->
<section class="template-area">
    <hr>
    <br>
    <!-- <div class="style-bar">
            <button class="btn-bold"><b>B</b></button>
            <button class="btn-bar"><u>B</u></button>
            <button class="btn-cross"><del>B</del></button>
            <button class="btn-itlc"><i>B</i></button>
            <button class="btn-color"><b style="color:#1A4FFF;">B</b></button>
            <button class="btn-back"><b style="color:white; background-color:#1A4FFF;">&nbsp;B&nbsp;</b></button>
    </div> -->
    <div>
        <form class="template-form">

        <div><label class='form-title' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;회사명</label><input type = 'text' placeholder = "이벤트플러스" id='form-00' class="content" name='form' onkeyup='printContent(100)'></div>
        
        <div><label class='form-title' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;제목</label><input type = 'text' placeholder = "홍보 포스터 제작 견적문의드립니다." id='form-0' class="content" name='form' onkeyup='printContent(0)'></div>
    
        <div><label class='form-greeting' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;인사말</label><input type = 'text' placeholder = "안녕하세요, 이벤트플러스 기획팀 박윤아 대리입니다." id='form-1' class="content" name='form' onkeyup='printContent(1)'></div>
        
        <div><label class='form-purpose' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;목적</label><input type = 'text' placeholder = "이번에 저희 이벤트플러스에서 진행하는 환경의 달 행사 홍보포스터 제작관련 견적 문의드립니다." id='form-2' class="content" name='form' onkeyup='printContent(2)'></div>
        
        <div><label class='form-instruction' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;주문 상세내용</label><textarea type = 'textarea' placeholder="- 제작 목적(생략가능)&#13;&#10;- 제작물&#13;&#10;- 마감일&#13;&#10;- 추가 안내사항(미팅 필요 여부 등)" id='form-3' class="content" name='form' onkeyup='printContent(3)'></textarea></div>
        
        <div><label class='form-result' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;문의사항</label><textarea type = 'text' placeholder="예시 1) 서울에서 간단하게 미팅이 가능하신지 궁금합니다.&#13;&#10;예시 2) 제작 완료 후, 작업 파일을 전달받을 수 있는 지 문의 드립니다." id='form-4' class="content" name='form' onkeyup='printContent(4)'></textarea></div>
        
        <div><label class='form-significant' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;요청사항</label><textarea type = 'text' placeholder = "예시 1) 행사 내용 기획서를 첨부드리오니 견적에 참고 바랍니다." id='form-5' class="content" name='form' onkeyup='printContent(5)'></textarea></div>
        
        <div><label class='form-ending' name='label'><svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6">
            <circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;맺음말</label><input type = 'text' placeholder = "신속한 답변 기다리겠습니다. 감사합니다." id='form-6' class="content" name='form' onkeyup='printContent(6)'></div>
        
        <!-- <div><label class='memo' name='label'><svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6">
            <circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/>
          </svg>&nbsp;메모</label><textarea type = 'textarea' placeholder = "ex) 유료 음원 사용시 라이선스 체크 부탁드립니다." id='memo' name='form'></textarea></div> -->
        <br>
        <hr>
        <br>
        <div class="template-auto">
            <p>&nbsp;[<span class="teamnm">회사명</span>]&nbsp;&nbsp;<span class="preview">홍보 포스터 제작 견적 문의드립니다.</span></p>
            <hr>
            <div class="template-preview">
                <!-- <p class="vac"></p> -->
                <div>
                <!-- <p class="preview"></p> -->
                <p class="preview" style="margin-top: 20px;">안녕하세요, 이벤트플러스 기획팀 박윤아 대리입니다.</p><br>
                <p class="preview">이번에 저희 이벤트플러스에서 진행하는 환경의 달 행사 홍보포스터 제작관련 견적 문의드립니다.</p><br>
                <p class="preview">- 제작 목적 : 환경의 달 온라인 행사 홍보 포스터 제작
- 제작물 : A1 사이즈의 행사 포스터와 같은 내용의 SNS 게시용 이미지 1장
- 마감일 : 2021년 5월 31일</p><br>
                <p class="preview">또한 작업 요청시, 서울에서 간단하게 미팅이 가능할지 궁금합니다.</p><br>
                <p class="preview">마지막으로, 행사 내용은 기획서를 첨부드리오니 견적에 참고 바랍니다.</p><br>
                <p class="preview" style="margin-bottom: 20px;">신속한 답변 기다리겠습니다. 
감사합니다.</p>
                </div>
                
            </div>
        </div>
        <br><br>
        <div><p>내용 작성이 완료되었나요? 상단의 미리보기를 확인해보세요😉<br>작성완료 버튼을 클릭하시면 내용이 <b><u>자동 복사</u></b> 됩니다.</p></div>
        <br>
        <div class='output-wrap'><input class='finish' type="button" value="작성 완료" onclick="getValueInput()"/></div>
    </form>
    <span id="textDiv"></span>
</div>
<br>
<br>
<br>
</section>