{% load static %}
<!-- <link rel="stylesheet" href={% static "style.css" %}> -->
<section class="template-area">
    <svg xmlns="http://www.w3.org/2000/svg" width="171" height="40" viewBox="0 0 171 40">
        <rect id="사각형_41" data-name="사각형 41" width="171" height="40" rx="10" fill="#f2f2f2"/>
        <text id="자료_요청" data-name="자료 요청" transform="translate(101.586 30.5)" fill="#1a4fff" font-size="28" font-family="MalgunGothicBold, Malgun Gothic"><tspan x="-59.92" y="0" font-family="Quicksand-Bold, Quicksand" font-weight="700">자료</tspan><tspan y="0" font-family="Quicksand-Bold, Quicksand" font-weight="700"> </tspan><tspan y="0" font-family="Quicksand-Bold, Quicksand" font-weight="700">요청</tspan></text>
        <path id="합치기_4" data-name="합치기 4" d="M6.826,23.836a.5.5,0,0,1-.5-.5V12.36H0L11.75,0,23.5,12.36H17.173V23.336a.5.5,0,0,1-.5.5Z" transform="translate(35.586 8.5) rotate(90)" fill="#1a4fff" stroke="#1a4fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
      </svg>
    <hr>
    <br>
    <div>
        <form class="template-form">

        <div><label class='form-title' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;소속부서</label><input type = 'text' placeholder = "세무팀" id='form-00' class="content" name='form' onkeyup='printContent(100)'></div>

        <div><label class='form-title' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;제목</label><input type = 'text' placeholder = "21' 3분기 부가가치세 자료 요청드립니다." id='form-0' class="content" name='form' onkeyup='printContent(0)'></div>

        <div><label class='form-greeting' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;인사말</label><input type = 'text' placeholder = "안녕하세요. 김세무 매니저입니다." id='form-1' class="content" name='form' onkeyup='printContent(1)'></div>
        
        <div><label class='form-purpose' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;목적</label><input type = 'text' placeholder = "이번 2021년도 3분기 부가가치세 신고를 위한 하단의 부가가치세 자료를 요청드리고자 합니다." id='form-2' class="content" name='form' onkeyup='printContent(2)'></div>
        
        <div><label class='form-instruction' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;세부사항</label><textarea type = 'textarea' placeholder="구체적인 목적,  필요한 자료 목록" id='form-3' class="content" name='form' onkeyup='printContent(3)'></textarea></div>
        
        <div><label class='form-result' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;추가 요청사항</label><textarea type = 'text' id='form-4' class="content" name='form' onkeyup='printContent(4)'></textarea></div>
        
        <div><label class='form-significant' name='label'>
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"><circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;마감기한</label><textarea type = 'text' placeholder = "10/12 목요일 전까지 전달부탁드리겠습니다." id='form-5' class="content" name='form' onkeyup='printContent(5)'></textarea></div>
        
        <div><label class='form-ending' name='label'><svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6">
            <circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/></svg>
            &nbsp;맺음말</label><input type = 'text' placeholder = "감사합니다." id='form-6' class="content" name='form' onkeyup='printContent(6)'></div>
        
        <!-- <div><label class='memo' name='label'><svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6">
            <circle id="타원_2" data-name="타원 2" cx="3" cy="3" r="3" fill="#707070"/>
          </svg>&nbsp;메모</label><textarea type = 'textarea' placeholder = "ex) 유료 음원 사용시 라이선스 체크 부탁드립니다." id='memo' name='form'></textarea></div> -->
        <br>
        <hr>
        <br>
        <div class="template-auto">
            <p>&nbsp;[<span class="teamnm">세무팀</span>]&nbsp;&nbsp;<span class="preview">21' 3분기 부가가치세 자료 요청드립니다.</span></p>
            <hr>
            <div class="template-preview">
                <p class="vac"></p>
                <div>
                <!-- <p class="preview">&nbsp;</p> -->
                <p class="preview" style="margin-top: 20px;">안녕하세요. 세무팀의 김세무입니다.</p><br>
                <p class="preview">이번 2021년도 3분기 부가가치세 신고를 위한 하단의 부가가치세 자료를 요청드리고자 합니다.</p><br>
                <p class="preview">7월 - 9월의,
1. 수입신고필증과 구입 INVOICE, B/L 등 수입관련된 자료 (관세사사무실의 수입정산서)
2. 수출신고필증, 판매 INVOICE
3. 종이세금계산서 또는 종이계산서
4. 원화법인통장거래내역 (7월~9월)
5. 외화법인통장거래내역 (7월~9월)
6. 정산금액 장부</p><br>
                <p class="preview">6번 정산금액 장부의 경우 별도 장부를 기록/보관하지 않으신다면,
사이트별로 매출 집계해 화면캡쳐 혹은 프로그램에서 엑셀파일로 다운로드해 송부 부탁드립니다.</p><br>
                <p class="preview">바쁘시겠지만 신고 일정에 맞춰 원활하게 진행될 수 있도록 부탁드립니다. </p><br>
                <p class="preview" style="margin-bottom: 20px;">마감기한: 10/12 목요일 전까지 전달부탁드리겠습니다.</p>
                </div>
                
            </div>
        </div>
        <br><br>
        <div><p>내용 작성이 완료되었나요? 상단의 미리보기를 확인해보세요😉<br>작성완료 버튼을 클릭하시면 내용이 <b><u>자동 복사</u></b> 됩니다.</p></div>
        <br>
        <div class='output-wrap'><input class='finish' type="button" value="작성 완료" onclick="getValueInput()"/></div>
    </form>
    <span id="textDiv"></span>
</div>
<br>
<br>
<br>
</section>