{% load static %}
<section class="template-area">
    <!-- <p class="template-title">How to Use</p> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="186.4" height="39.2" viewBox="0 0 186.4 39.2">
        <rect id="사각형_24" data-name="사각형 24" width="186.4" height="39.2" rx="10" fill="#f2f2f2"/>
        <text id="How_to_use" data-name="How to use" transform="translate(23 37)" fill="#1a4fff" stroke="#1a4fff" stroke-width="1" font-size="28" font-family="Quicksand-Bold, Quicksand" font-weight="700"><tspan x="-5" y="-7" style='font-family:"Quicksand-Bold, Quicksand"; font-weight:700;'>How to use</tspan></text>
      </svg>
      
    <hr>
    <br>
    <div class="intro-area" style="width: auto;">
        <div></div>
        <div>
            <div class="left-content" style="vertical-align: top; margin-top: 70px; width: 40%;">
                <p>🤔</p>
                <p>업무 메일… 어떻게</p>
                <p>보내야할 지 모르겠다</p> 
            </div>
            <div class="right-vac" style="">
                <img src="{% static 'img/Group 25.png' %}" alt="">
            </div>
        </div>
        <div style="margin-top: 100px;">
            <div class="left-vac">
                <img src="{% static 'img/Group 26.png' %}" alt="">
            </div>
            <div class = "right-content" style="vertical-align: top; margin-top: 20px;">
                <p align="right">😱</p>
                <p align="right">중요한 업무 내용</p>
                <p align="right">하나씩 빠트려 봤다</p>
            </div>
        </div>
        <div style="margin-top: 100px;">
            <div class="left-content" style="vertical-align: top; margin-top: 30px; width: 30%;">
                <p>🧐</p>
                <p>메일 보내기 전에</p>
                <p>다시 한번 점검하고 싶다</p>
            </div>
            <div class="right-vac" style="margin-left:-20px;">
                <img src="{% static 'img/Group 27.png' %}" alt="">
            </div>
        </div>
        <div class="intro-btm-vac"></div>
        <hr>
    </div>
    <div class="tutorial-area">
        <div></div>
        <p class="hi" align="center">자, 이제 그럼<br><span>&nbsp;메일 달인&nbsp;</span> 되고싶으신 분?<br>🖐</p>
        

        <div class="tutorials">
            <p>메일 달인 활용법 #1</p>
            <hr>
            <p>나에게 필요한 메일 양식을 <b>선택</b>하세요!</p>
            <div>
                imgimgimg
            </div>
        </div>

        <div class="tutorials" align="right">
            <p>메일 달인 활용법 #2</p>
            <hr>
            <p>전달해야 될 내용을 빠짐없이 <b>채워보세요!</b></p>
            <div>
                imgimgimg
            </div>
        </div>

        <div class="tutorials">
            <p>메일 달인 활용법 #3</p>
            <hr>
            <p>작성한 내용은 <b>미리보기 창</b>에서 꼼꼼하게 확인!</b></p>
            <div>
                imgimgimg
            </div>
        </div>

        <div class="tutorials" align="center">
            <p>메일 달인 활용법 #4</p>
            <hr>
            <p class="bye">마지막으로, 작성완료 버튼을 눌러 내용 복사!<br>나도 이제 <span>메일 달인 :D</span></p>
            <div>
                imgimgimg
            </div>
        </div>

        <div class="tutorial-btm-vac"></div>
    </div>
</section>